[submodule "kicad"]
	path = kicad
	url = https://github.com/merrittlj/aurora40-kicad
[submodule "zmk"]
	path = zmk
	url = https://github.com/merrittlj/zmk-config-aurora40
[submodule "case"]
	path = case
	url = https://github.com/merrittlj/aurora40-case
